# Add any directories, files, or patterns you don't want to be tracked by version control
.idea
*/node_modules
*.iml
react-tictactoe/node_modules
react-springdata/src/main/resources/static/built/bundle.js
react-springdata/src/main/resources/static/built/bundle.js.map
